/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 nov. 2017, 15:31:07
    Author     : caill
*/

.AntikaBackgroundNorth .ui-layout-unit-content{
    background-image: url(../res/antika-jdr-north.png);
    background-size: cover;
}


.AntikaBackgroundSouth .ui-layout-unit-content{
    background-image: url(../res/antika-jdr-south.png);
    background-size: cover;
}
.AntikaBackgroundEast .ui-layout-unit-content{
    background-image: url(../res/antika-jdr-east.png);
    background-size: cover;
}
.AntikaBackgroundWest .ui-layout-unit-content{
    background-image: url(../res/antika-jdr-west.png);
    background-size: cover;
}

.AntikaBackgroundCenter .ui-layout-unit-content{
    background-image: url(../res/antika-jdr.png);
    background-attachment: fixed;
    background-size: cover;
}
