.ui-widget-content{
    background: none;
    border: none;
}

.Info .ui-widget-content{
    background: white;
    margin: 5%;
    align-content: center;
}



body {
    background-image: url(../res/antika-jdr.png);
    background-size: cover;

}
