/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 oct. 2017, 15:12:00
    Author     : caill
*/


.ui-ring-item{
    padding : 2%;
    text-align: center;
    height: 100%;
    width: 25%;
}

.ui-ring-item img {
    border: 0 none; 
}
